
  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
  }
  
  .container .box {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgba(26, 26, 31, 0.473); */
    transition: 0.75s;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    
  }

  .container .box:hover {
    background: #03e9f4;
    z-index: 1000;
    box-shadow: 0 0 5px #03e9f4,
                  0 0 25px #03e9f4,
                  0 0 50px #03e9f4,
                  0 0 200px #03e9f4;
  }

  .container .box .content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #03e9f4;
    text-align: center;
  }
/* 
  .container .box:hover .content {
    color: #111;
  }
   */
  .container .box .content h2 {
    font-size: 2em;
    margin-bottom: 10px; 
  }
  
  /* .container .box:nth-child(1) {
    filter: hue-rotate(240deg);
  }
  
  .container .box:nth-child(3) {
    filter: hue-rotate(270deg);
  }

  .container .box:nth-child(4) {
    filter: hue-rotate(90deg);
  }
  
  .container .box:nth-child(5) {
    filter: hue-rotate(270deg);
  }

  .container .box:nth-child(6) {
    filter: hue-rotate(90deg);
  }
  
  .container .box:nth-child(7) {
    filter: hue-rotate(270deg);
  }

  .container .box:nth-child(8) {
    filter: hue-rotate(90deg);
  }
  
  .container .box:nth-child(9) {
    filter: hue-rotate(270deg);
  }

  .container .box:nth-child(10) {
    filter: hue-rotate(270deg);
  } */